[2019-01-14 10:43] iluetkeb opened #12 "runtime error on ROS 2 Crystal"
I set RMW_IMPLEMENTATION=rmw_microxrcedds, then on `ros2 run examples_rclcpp_minimal_publisher publisher_lambda` I get the following error:

`'failed to resolve symbol 'rmw_get_serialization_format' in shared library '/home/lui3si/ros2_ws/install/lib/librmw_microxrcedds.so', at /tmp/binarydeb/ros-crystal-rmw-implementation-0.6.1/src/functions.cpp:162'`

Moreover, I also get the error
`'type suppor

[2019-01-14 13:08] iluetkeb commented on #12
One thing could be that I used the thirdparty fastrtps, whereas ros crystal uses the fastrtps from /opt/ros/...

[2019-01-14 19:41] BorjaOuterelo commented on #12
Solved in c9d9ad49defb1732f98dcb6cd2df9ed84bce9d73 and 146c19d2e71af37a130fea2965d08643ea1d9454

Those commits:
-Add missing crystal new API.
-Add the usage of Poco library to choose type support.

Can you try with the branch feature/Crystal_update?
You should be able to run either C or CPP examples:
-ros2 run int32_publisher_c  int32_publisher_c
-ros2 run examples_rclcpp_minimal_publisher publish

[2019-01-15 09:16] iluetkeb commented on #12
With the recent updates, I now get
lui3si@crystal-devel:~/ros2_ws$ ros2 run examples_rclcpp_minimal_publisher publisher_lambda
UDP mode => ip: 127.0.0.1 - port: 8888
terminate called after throwing an instance of 'rclcpp::exceptions::RCLError'
  what():  could not create publisher: type support not from this implementation, at /home/lui3si/ros2_ws/src/rmw-microxrcedds/rmw_microxrcedds_c/src/rmw_pu

[2019-01-15 10:31] BorjaOuterelo commented on #12
We are not building with -DTHIRDPARTY, we are using
`colcon build --cmake-args -DBUILD_SHARED_LIBS=ON`

I am using the following docker image https://github.com/microROS/docker/blob/feature/Crystal_update/Linux/development/micro-ROS_development/Dockerfile as build environment.

And these are the micro-ROS related repositories added to the Crystal released ones:
[code]

[2019-01-15 14:34] iluetkeb commented on #12
Can you post your full repository YAML spec? When combining the above with the one in the micro-ROS install docs, I get compile errors. Most likely, you have updated version in other repositories as well.

btw, I have tried combining the above with ROS 2 installed from packages, to no avail. So now the next try is compile everything from scratch.

[2019-01-16 07:55] iluetkeb opened #14 "segmentation fault on exit"
When doing the massif benchmark with examples_rclcpp_minimal_publisher/publisher_lambda, I get a segfault in the benchmarked program at the end:
[code]

[2019-01-16 14:36] BorjaOuterelo commented on #12
@iluetkeb Did you manage to compile it?

I use the Crystal list:

[code]
and the micro-ROS ones:

[code]

The ones present in https://raw.githubusercontent.com/microROS/micro-ROS-doc/feature/RepoListUpdate/Installation/repos/client_minimum.repos are a selected subset of these lists, containing just the required content for the Client.
And there is an analogous one for the Agent.

[2019-01-16 14:55] BorjaOuterelo commented on #12
I always compile from sources. I may need to have a look that issue with the ROS 2 installed from packages.

[2019-03-14 16:26] BorjaOuterelo commented on #14
#11 solves this issue.
In the same PR, I have added a tests for this issue.

[2019-03-14 16:26] #14 closed

[2019-07-12 14:58] iluetkeb opened #17 "Bad dependencies"
This package depends on microxrcedds_client, but that package is not a ROS package and can therefore not be found.

[2019-09-05 06:50] BorjaOuterelo opened #19 "Linkage error due to symbol relocations and shared objects."
Compile it with:

`Colcon build --build-base build_local --install-base install_local  --merge-install --symlink-install`

And I got:

`libmicroxrcedds_client.a(submessage.c.o): relocation R_X86_64_PC32 against symbol 'UCDR_MACHINE_ENDIANNESS' can not be used when making a shared object; recompile with -fPIC`

To solve it I need to add:

`--cmake-args -DCMAKE_POSITION_INDEPENDENT_CODE=ON`

[2020-01-10 13:48] KevinHwangAi opened #26 "Error of subscribe to sequences message type"
I try subscribe Joy's message or other message which include the sequence element,but all the message fail to subscribe and arise error :

error in rcl_take: Typesupport desserialize error.

I checked the joint_state__type_support_c.c file and found some parts of the file are incomplete,
here is the deserialize function, and the name field is empty:

static bool _JointState__cdr_deserialize(
  ucd

[2020-01-27 10:43] jfm92 opened #29 "Build fail on micro-ROS Client for NuttX (error: unknown type name 'SampleIdentity')"
From the commit (b5eea0997a3884263d066f9413c9c049ce9334bb)of rmw_microxrcedds the build process fails with the micro-ROS build system.

It retuns the next error:
[code]

I'm using the next repos:
- Micro-XRCE-DDS Client ([5d16a887ce5f949980aa488b588e54377d798cd2](https://github.com/eProsima/Micro-XRCE-DDS-Client/commit/5d16a887ce5f949980aa488b588e54377d798cd2))
- Micro-ROS-Build ([b178c62353f800cc

[2020-01-27 10:46] iluetkeb commented on #29
Which command did you use to perform the build?

[2020-01-27 10:51] jfm92 commented on #29
@iluetkeb, I've used: ``ros2 run micro_ros_setup build_firmware.sh``.
I've updated the specific commit of each repo. The issue only appears on that commit and afterward, with (8ce9eba38c945e62bdf1c93cd449f2af9ac80fbb) works fine.

[2020-01-27 10:58] iluetkeb commented on #29
As far as I can tell, the `SampleIdentity` type is not defined in micro-xrce-dds-client. Where is it defined?

[2020-01-29 10:41] julibert opened #37 "Repo cleaning"
The following is a list of suggested actions to clean-up this repo:

- [x] rebase branches: [remove_unused_variable], [remove_duplicate_structs], [best_effort] and [6lowpan] over [dashing],
- [x] change #36 target branch to [dashing],
- [x] remove [master] and [migration] branches.

[migration]: https://github.com/micro-ROS/rmw-microxrcedds/tree/feature/dashing_migration
[dashing]: https://github.

[2020-01-29 12:17] iluetkeb commented on #37
I changed the base on #36, but it also needs a re-base most likely.

- [ ]  rebase #36

[2020-01-29 13:37] julibert commented on #37
Thanks @iluetkeb. Rebased!

[2020-02-02 14:18] Aiven92 opened #39 "sequence deserialize error"
Some error with sequence deserialization.
message allocated before call `rclc_spin_node`, used custom `rclc_spin_allocatedmsg_node_once(void* already_allocated_msg, rclc_node_t * node, int64_t timeout_ms)`

Tested on
 - joint_trajectory_point.
 - custom_msg( float64[] )

Subsricber callback give correct message size, but data is incorrect.

[code]
Probably error in `ucdr_buffer_alignment` or  `ucd

[2020-02-04 11:42] iluetkeb commented on #29
Is this still an issue?

[2020-02-11 14:12] pablogs9 opened #41 "Configure zero services and clients"
Allow configuration of none entities in order to reduce static memory

[2020-02-11 14:13] pablogs9 opened #42 "Minimal publisher configuration"
Set RMW_UXRCE_MAX_PUBLISHERS_X_NODE to RMW_UXRCE_MAX_NODES to cover the minimal `rosout` publisher.

[2020-02-13 16:11] Sdehnavi opened #44 "Problem with finding SampleIdentity type in compilation"
Hi,
Thanks for your contribution on micro-ROS.
I am trying to run an example on micro-ROS, but there is a problem in <types.h>. The problem is that it can not find SampleIdentity.
Here is the error: types.h:80:3: error: unknown type name ‘SampleIdentity’
Where is the header file containing SampleIdentity so tha I can include it in types.h?
However, it is still my question why should we use SampleI

[2020-02-14 10:27] pablogs9 opened #45 "Move MicroXRCE session to rmw_init"
Move MicroXRCE session to rmw_init in order to have one session per RCL instead of having a session for each ROS node.

[2020-02-14 13:06] pablogs9 commented on #42
Done in https://github.com/micro-ROS/rmw-microxrcedds/pull/46

[2020-02-14 13:07] pablogs9 commented on #41
Done in https://github.com/micro-ROS/rmw-microxrcedds/pull/46

[2020-02-14 13:47] Sdehnavi opened #47 "‘UXR_REQUESTER_ID’ undeclared in rmw_node.c"
Hi,

I get the following error in rmw_node.c
rmw_client.c:110:69: error: ‘UXR_REQUESTER_ID’ undeclared (first use in this function); did you mean ‘UXR_REQUEST_NONE’?
     custom_client->client_id = uxr_object_id(custom_node->id_gen++, UXR_REQUESTER_ID);

Would you please tell me where UXR_REQUESTER_ID has been defined?
Thanks!

[2020-02-17 06:33] pablogs9 commented on #47
Hello, can you detail which is your Micro-ROS setup?

It seems that you have a version of Micro-XRCE-DDS-Client without services, because the value you are refering is related to services implementation. They are implemented in this commit: https://github.com/eProsima/Micro-XRCE-DDS-Client/commit/fd52a2505f5efc0ce7071a7780035c0fc82076bf

[2020-02-17 06:52] pablogs9 commented on #29
`SampleIdentity` is a definition used by Micro-XRCE-DDS-Client implementation of services. Services are included in dashing version in this commit: https://github.com/eProsima/Micro-XRCE-DDS-Client/commit/fd52a2505f5efc0ce7071a7780035c0fc82076bf

Please @jfm92 close if resolved.

[2020-02-17 12:37] Sdehnavi commented on #47
Thanks @pablogs9
I changed to the crystal version and now it has been solved. But I have another issue which is related to type_support. I will create a new issue for it.

[2020-02-17 12:37] #47 closed

[2020-02-17 12:40] Sdehnavi opened #49 "undefined reference to `rosidl_typesupport_c__get_message_type_support_handle__std_msgs__msg__Int32'"
Hi,
I am compiling micro-ROS crystal version and want to run the publisher demo for Int32. However, I get the following error:

It seems that this type is not defined.
Thanks

[2020-02-17 15:39] krm-mir opened #50 "Issues creating micro XRCE-DDS entities - publisher example app"
I'm having trouble setting up a session between my **olimex-stm32-e407** board running **NuttX** and the publisher example with microROS and mu pc running the microROS agent. Am using udp only in my project. Right now I'm just trying to understand the process when the board and agent communicates via microXRCEDDS.

**Output from nuttshell:**
[code]

**Output from agent:**
[code]

it seems like i g

[2020-02-18 07:18] pablogs9 commented on #50
Please, try to run the agent with the -v6 flag in order to increase verbosity and update the agent log.

Please comment your RMW and Micro-XRCE-DDS configuration, in nuttx you can find them in `apps/uros/rmw_config.meta` and in `firmware/mcu_ws/eProsima/Micro-XRCE-DDS-Client/client.config`

Regarding the chenges you have, maybe it is a good idea to replicate an out of the box example from the micr

[2020-02-18 07:37] krm-mir commented on #50
**mcu_ws/eProsima/Micro-XRCE-DDS-Client/client.config:**
[code]

**Agent log:**
[code]

I can't find rmw_config.meta, but i did change the mcu_ws/install/rmw_microxrcedds/include/rmw_microxrcedds_c/config.h @RMW_UXRCE_MAX_PUBLISHERS_X_NODE as per #42 (if i understood that correctly)
[code]

[2020-02-18 07:49] pablogs9 commented on #50
You should not modify files inside install and build folders because they are overwrite on each build. Please try to increase your publishers using micro-ROS config. In Nuttx you can find doing `make menuconfig` in Nuttx folder and under apps you would find the micro-ROS parameters.

[2020-02-18 09:29] krm-mir commented on #50
I replicated with a fresh install of micro_ros_setup - this works as it should.
I guess i have either changed to much in my old install or missed to pull some commits.
Thanks

[2020-02-18 09:29] #50 closed

[2020-02-28 12:21] krm-int opened #53 "Increasing payload size for microROS publisher"
**Describe the bug**
I'm trying to publish a ros_msg of type [**sensor_msgs__msg__LaserScan**](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/LaserScan.html) from mu olimex-stm32-e407 dev. board.
I'm only interested in sending the .ranges & header.stamp for now, meaning the intensities is only a pointer to 1 value.

**System information:**
 - OS: NuttX running on Olimex-stm32-e407
 - ROS 2 D

[2020-03-02 08:03] jfm92 commented on #53
Hi @krm-mir,
The payload size is calculated at building time, when this file is generated:
https://github.com/micro-ROS/rmw-microxrcedds/blob/80a305b05dec7ff0954c91726db78418fbf07661/rmw_microxrcedds_c/src/config.h.in#L26

As you can see this is related with the ``RMW_UXRCE_STREAM_HISTORY``, which you can modify on the [CMakeFile](https://github.com/micro-ROS/rmw-microxrcedds/blob/dashing/rmw_micr

[2020-03-03 08:47] krm-mir commented on #53
@jfm92
Thanks for the response.
I've been playing around with the history and MTU and i still get memory leaks when I try to publish 200-400 floats in the Laser_scan_msg. Do you think 400 floats is simple to much for the RAM of the Olimex board? When i bumped up (history = 8, MTU = 2048) I couldn't build because of SRAM overflow - maybe an indication of to much memory usage?

[2020-03-03 09:26] pablogs9 commented on #53
Hello @krm-mir, that is right, setting a history of 8 and a MTU of 2048 will allocate static buffers of ~16 Kb, and depends on your configuration they can overflow your SRAM at linking time. For publishing it will work with a history of 1.

200 messages of aprox 4 Bytes is ~ 800 Bytes. I think that this should work, let us try a demo app with such big payload.

Are you sure that `laser_scan_msg_ =

[2020-03-03 10:23] krm-mir commented on #53
I still get an error when preparing the output stream (same place as in my initial comment).

A small sidetrack while debugging:
Is the output stream fixed to reliable?
https://github.com/micro-ROS/rmw-microxrcedds/blob/80a305b05dec7ff0954c91726db78418fbf07661/rmw_microxrcedds_c/src/rmw_publish.c#L49-L52

[2020-03-03 10:27] pablogs9 commented on #53
For now the Micro-XRCE-DDS RMW is fixed to reliable while something about rmw specific configuration API is proposed in the RCL.

You can check this branch where publishing and subscribing are done using best effort: https://github.com/micro-ROS/rmw-microxrcedds/tree/test/best_effort

Remember that this branch is experimental and far from being stable.

[2020-03-05 07:10] krm-mir commented on #53
@pablogs9  & @jfm92
I've experimented with another application, which publishes an increasing array of floats from the Olimex board. I can send an array of floats until the size = 123. Then I either get a memory leak or the app crashes:
![image](https://user-images.githubusercontent.com/60872291/75956669-a85ecd00-5eb8-11ea-8ef5-97c9698a86c5.png)

I'm gonna put my float publisher on hold for now. D

[2020-03-05 07:22] pablogs9 commented on #53
Please keep it open, we will be back to this issue soon or later.

Thank you so much for the research!

[2020-03-06 07:51] pablogs9 commented on #45
Solved in https://github.com/micro-ROS/rmw-microxrcedds/pull/48, close when merged

[2020-03-10 14:37] pablogs9 commented on #49
Please detail your use case and your environment

[2020-03-10 14:37] pablogs9 commented on #44
Is this issue currently active?

[2020-03-10 14:38] pablogs9 opened #55 "Add some best effort support"
Add minimal Micro-XRCE-DDS best effort support

[2020-04-13 13:35] #41 closed

[2020-04-13 13:35] #42 closed

[2020-04-13 13:36] pablogs9 commented on #55
Done in https://github.com/micro-ROS/rmw-microxrcedds/pull/57

[2020-04-13 13:36] #55 closed

[2020-04-22 13:58] krm-mir commented on #53
Hi @pablogs9 , I've come around to running some test on this issues again.
I'm still using the Olimex-stm32-e407 board but switched to **microROS on FreeRTOS (dashing)**.
My test is basically the same - keep publishing an array of float32 and increase the size of the array after every publish.
 I can publish until size = 122.
![image](https://user-images.githubusercontent.com/60872291/79990806-c9e

[2020-04-22 15:00] pablogs9 commented on #53
@julibert can this be related to fragmentation? are the new fragmentation branches used in micro-ROS build system?

[2020-04-23 14:21] pablogs9 commented on #53
@krm-mir can you show us what is the agent output on the working and not working publications? Please use `-v6` to set the max verbosity and share us the trace

[2020-04-24 07:13] krm-mir commented on #53
@pablogs9
Here the output:
![image](https://user-images.githubusercontent.com/60872291/80184973-db495580-860b-11ea-89ac-e48b5dcdf744.png)

[2020-04-28 17:03] julibert commented on #53
Hi @krm-mir,

This [PR](https://github.com/eProsima/Micro-XRCE-DDS-Client/pull/146) in Micro XRCE-DDS Client should fix this issue. Please, update Micro CDR and Micro XRCE-DDS Client repos and rebuild your app. I hope it helps you.

[2020-04-30 08:17] krm-mir commented on #53
@julibert
I've updated the repos and rebuild. I'm not sure if its related, but I run into another error:
`firmware/mcu_ws/eProsima/Micro-XRCE-DDS-Client/src/c/core/session/stream/input_reliable_stream.c:217:11: error: 'ucdrBuffer' {aka 'struct ucdrBuffer'} has no member named 'offset'
         ub->offset);`
and
`firmware/mcu_ws/eProsima/Micro-XRCE-DDS-Client/src/c/core/session/stream/output_reliab

[2020-05-04 14:43] krm-mir commented on #53
@julibert
I've reopened the issue after running the same tests in FreeRTOS and NuttX. Results are much better, but not near the paylaod size of eg a camera frame.

Both tests use the laser_scan msg type  with only the frame_id changed to “LZR_data” and the ranges increased.

**NuttX results**
![image](https://user-images.githubusercontent.com/60872291/80978305-2c382580-8e26-11ea-90c7-9cc60b058f46.

[2020-05-04 15:15] julibert commented on #53
Hi @krm-mir, could you share the Agent output again?

[2020-05-05 13:19] krm-mir commented on #53
@julibert

I believe the issue could be a segmentation fault (or something similar), since the agent doens't croak. Here are the agent outputts:

**NuttX**
![image](https://user-images.githubusercontent.com/60872291/81066230-16396c00-8edd-11ea-8ea8-1d534eef7f58.png)
...
![image](https://user-images.githubusercontent.com/60872291/81066291-29e4d280-8edd-11ea-853b-79cde4b299bb.png)
I can't make the N

[2020-05-06 05:44] julibert commented on #53
Hi @krm-mir,

I have a couple of questions:
1. What are your rmw-microxrcedds and Micro XRCE-DDS configurations? `RMW_UXRCE_STREAM_HISTORY` & `CONFIG_UDP_TRANSPORT_MTU`.
2. Do you try the same application for host? Maybe then you can debug/trance the error.

[2020-05-06 08:34] krm-mir commented on #53
1.
`RMW_UXRCE_MAX_HISTORY=2`
`CONFIG_UDP_TRANSPORT_MTU=512`
(totally forgot the MTU).

Using `CONFIG_UDP_TRANSPORT_MTU=1024` (History unchanged), so MTU*HISTORY >= 2048:
At a LaserScan.msg containing 741 (float32) + header (total msg size is 24040bit) the agent output is:
[code]

I'm actually way within my needs in terms of payload size - the goal was to send 400 float32 data points + header from

[2020-07-17 08:01] #49 closed

[2020-07-17 08:08] #19 closed

[2020-07-20 05:42] FranFin commented on #53
@krm-int Hi! Thank you for your interest in micro-ROS. Notice that we’ll discuss the recent contributions and developments in the next [Embedded WG meeting](https://discourse.ros.org/t/ros-2-embedded-wg-meetings/15460). You’re invited to bring your micro-ROS related issue to this platform. We’ll be very happy to have you join us and discuss your questions with the community.

[2020-07-20 05:43] FranFin commented on #39
@Aiven92 Hi! Thank you for your interest in micro-ROS. Notice that we’ll discuss the recent contributions and developments in the next [Embedded WG meeting](https://discourse.ros.org/t/ros-2-embedded-wg-meetings/15460). You’re invited to bring your micro-ROS related issue to this platform. We’ll be very happy to have you join us and discuss your questions with the community.

[2020-07-20 05:46] FranFin commented on #26
@KevinHwangAi Hi! Thank you for your interest in micro-ROS. Notice that we’ll discuss the recent contributions and developments in the next [Embedded WG meeting](https://discourse.ros.org/t/ros-2-embedded-wg-meetings/15460). You’re invited to bring your micro-ROS related issue to this platform. We’ll be very happy to have you join us and discuss your questions with the community.

[2020-07-28 04:09] driftregion opened #72 "Use `uxr_nanos` from Micro-XRCE-DDS-Client instead of `clock_gettime` for random seed generation"
the platform-independence is already implemented in `uxr_nanos`

[2020-10-13 06:27] pablogs9 commented on #53
Probably related: https://github.com/micro-ROS/micro_ros_setup/issues/187#issuecomment-702143940

@krm-int did you achieve something regarding this issue?

[2020-11-16 12:17] RajasJ99 opened #83 "rmw wait error during colcon build"
![build](https://user-images.githubusercontent.com/33423968/99250528-d6f7ba80-2831-11eb-9509-bef8ff766dda.png)
 Tried to build rmw-microxrcedds fro micro ros demo , but encountered with this error

[2020-11-16 13:32] pablogs9 commented on #83
This function was included in Micro XRCE-DDS Clien in this commit: https://github.com/eProsima/Micro-XRCE-DDS-Client/commit/46907463f4b0a846f114389320b582028b8334c2

As you can see it is in `foxy` branch. Have you tried to update your repositories?

If you provide a step by step procedure we can replicate the issue. I guess that doing a clean installation of your micro-ROS environment will solve t

[2020-11-16 13:32] #83 closed

[2020-11-16 13:34] pablogs9 commented on #72
Closing since implemented: https://github.com/micro-ROS/rmw-microxrcedds/blob/b969cca2fa1a7d5e18e87996b9b82bef59837801/rmw_microxrcedds_c/src/rmw_init.c#L86

[2020-11-16 13:34] #72 closed

[2020-11-16 13:35] pablogs9 commented on #53
Solved here: https://github.com/micro-ROS/rosidl_typesupport_microxrcedds/pull/25

[2020-11-16 13:35] #53 closed

[2020-11-16 13:36] pablogs9 commented on #44
Closing bc inactive

[2020-11-16 13:36] #44 closed

[2020-11-16 13:36] pablogs9 commented on #39
Solved here: https://github.com/micro-ROS/rosidl_typesupport_microxrcedds/pull/25

[2020-11-16 13:36] #39 closed

[2020-11-16 13:37] pablogs9 commented on #26
Solved here: https://github.com/micro-ROS/rosidl_typesupport_microxrcedds/pull/25

[2020-11-16 13:37] #26 closed

[2020-11-16 13:37] pablogs9 commented on #29
Closing bc outdated

[2020-11-16 13:37] #29 closed

[2021-01-27 15:06] expploitt opened #92 "DDS-xrce over bluetooth"
Hello all!

I'm trying to configure a Bluetooth network but using DDS-XRCE and micro-ROS. Is that possible? I read the documentation but I'm not sure whether it is possible or not.

Thanks!

[2021-02-08 14:33] #37 closed

[2021-02-08 14:34] pablogs9 commented on #12
Closing due Crystal in EOL: https://index.ros.org/doc/ros2/Releases/

[2021-02-08 14:34] #12 closed

[2021-03-12 09:55] pablogs9 commented on #92
Hello sorry for the delayed response, have you checked the new external transports? https://micro.ros.org/docs/tutorials/advanced/create_custom_transports/

[2021-03-12 09:55] #92 closed

[2021-03-24 12:05] amfern opened #116 "Support session time sync"
I am looking to sync time between the agent and the client, the eProsima client has a handy function for doing just that `uxr_sync_session` but its not exposed through the `rmw-microxrcedds` api. Is there a reason its not supported?
I am willing to open PR for this

## Issue template

- Hardware description:
stm32 micro controller
- Installation type:
ros2arduino

[2021-03-24 13:55] pablogs9 commented on #116
Hello, this feature is not implemented yet in micro-ROS but there no problem in implementing it.

What would you expect from it? Is it enough for you to retrieve a time difference between the client clock and the agent clock (POSIX time)? Or maybe it is better to obtain directly the POSIX time of the agent?

[2021-03-24 23:28] amfern commented on #116
I need the POSIX time, to fill the `stamp` part of the ros2 `std_msgs/header`

[2021-03-25 14:50] Acuadros95 commented on #116
Hello, I have opened a PR for this issue: #117

The implemented function `rmw_uros_sync_session` returns the micro-ROS Agent POSIX time in nanoseconds, does this work for you?

[2021-03-26 07:12] pablogs9 commented on #116
Merged, #117, I'm closing to keep issue track clean. Please @amfern reopen if you need any other feature related with timing or any changes in this implementation, we are open to discuss.

Thanks, @Acuadros95.

[2021-03-26 07:12] #116 closed

[2021-03-26 10:36] amfern commented on #116
Thanks, that works for me.

[2021-11-24 01:44] wonjae-song opened #203 "rmw_uros_ping_agent can cause exception when micro-ROS has not been initialized (MULTITHREAD Feature on)"
- Hardware description: N/A
- RTOS: freeRTOS
- Installation type: micro_ros_setup (generate_lib)
- Version or commit hash: galactic

#### Steps to reproduce the issue
option : -DUCLIENT_PROFILE_MULTITHREAD=On -DPLATFORM_NAME_FREERTOS
step 1> initialize custom transport
step 2> call "rmw_uros_ping_agent" to check if microros agent is available
step 3> initialize micro-ros (call rclc_support_init, r

[2021-11-24 06:54] pablogs9 commented on #203
Working on this

[2021-11-24 16:06] pablogs9 commented on #203
Related: https://github.com/micro-ROS/rmw_microxrcedds/pull/205

[2021-11-27 04:00] amfern opened #208 "Crash when rcl_timer_reset is called"
**Describe the bug**
When I call rcl_timer_reset on a timer, microros will crash

**Additional context**
I tracked the issue to the "Static operation" commit https://github.com/micro-ROS/rmw_microxrcedds/commit/cb4f5220b5666be270ac29820ccd3e7a19f267f1.

And I tracked it down the crash to `rmw_trigger_guard_condition` at line https://github.com/micro-ROS/rmw_microxrcedds/blob/5de3d7687fff033dffa625

[2021-11-29 07:04] pablogs9 commented on #208
Hello @amfern, thanks for this. Let me know if using this patch this is solved: https://github.com/micro-ROS/rmw_microxrcedds/pull/209

[2021-11-29 11:10] amfern commented on #208
Hi @pablogs9, i see #209 merged into main branch. so i tried to compile main branch but i get compilation error
[code]

[2021-11-29 11:12] pablogs9 commented on #208
It has been backported to galactic and foxy, please use the branch corresponding to your ROS 2 distro. I'm not sure this error is related to the PR but with a distro mismatch.

[2021-11-29 11:18] amfern commented on #208
Sorry, for that.

I compiled the galactic branch, and it fixed the crash. thank you

[2021-11-29 11:18] pablogs9 commented on #208
Cool, thanks a lot for the feedback!

Closing this

[2021-11-29 11:18] #208 closed

[2021-12-02 11:55] russkel opened #216 "Handle's typesupport identifier (rosidl_typesupport_c) is not supported by this library [galactic]"
**Describe the bug**

I have followed the tutorial https://micro.ros.org/docs/tutorials/core/first_application_linux/ and when it comes time to run the MicroROS agent and the ping_pong demo, I am getting this error:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Follow tutorial https://micro.ros.org/docs/tutorials/core/first_application_linux/
2. Run MicroROS agent
3. Attempt to ru

[2021-12-02 13:36] pablogs9 commented on #216
I have replicated the tutorial and it works as expected: https://asciinema.org/a/4dhLRFdPu0VusGKeQoWDwKEu3

Can you check that you are using the commands correctly?

[2021-12-02 21:47] russkel commented on #216
Weird. I will try it again.

Is this error:
[code]
Because the typesupport should be `rosidl_typesupport_microxrcedds_c` instead? Is that the problem here?

Thanks for testing it @pablogs9

[2021-12-03 06:40] pablogs9 commented on #216
I guess that it is related to your ROS 2 installation, can you test this inside a docker with a clean ROS 2 installation?

[2021-12-05 03:10] russkel commented on #216
I rm'ed `build` and `install` dirs and then ran build firmare/build agent again, and that seems to have fixed it. No idea what happened. Thanks for that.

[2021-12-05 03:10] #216 closed

[2021-12-16 20:29] ted-miller opened #217 "FollowJointTrajectory action server"
I am having an issue when attempting to create a FollowJointTrajectory action server with MicroRos. My action server code is based on the fibonacci demo in micro-ROS-demos repo. The action client is based on [this example](https://github.com/ros-simulation/gazebo_ros2_control/blob/master/gazebo_ros2_control_demos/examples/example_position.cpp).
## Issue template

- Hardware description: Yaskawa Mo

[2021-12-17 07:36] pablogs9 commented on #217
Hello @ted-miller,

thanks for using micro-ROS and this feedback.

I have seen that you are using `*__create` and `*__destroy` API for handling message memory. Those are not the correct option in micro-ROS (becouse of the dynamic memory free typesupport) instead you have to preallocate memory for the message in use. You can have more information here: https://micro.ros.org/docs/tutorials/advanced/

[2021-12-17 07:53] gavanderhoorn commented on #217
@pablogs9: you're specifically referring to the `micro_ros_utilities` package mentioned in the [Galactic section](https://micro.ros.org/docs/tutorials/advanced/handling_type_memory/#micro-ros-galactic), correct?

[2021-12-17 08:01] pablogs9 commented on #217
@gavanderhoorn `micro_ros_utilities` is just a set of utility functions that uses ROS 2 type support introspection for C in order to auto-allocate (or auto-assign memory from a static buffer) memory for a type in micro-ROS. We found them handy for some situations and they work well. The flaws are that you are going to have 2 typesupports in use (more .text, more ram usage) and that in some APIs `m

[2021-12-17 08:06] gavanderhoorn commented on #217
I"m confused, as from a cursory look I'd understood that `micro_ros_utilities` was provided to avoid having to write all that boilerplate code for allocating each and every (sub)field of your (sub)message.

From what you're writing here, I now get the impression that's in the end what you expect (and recommend) users do?

[2021-12-17 08:15] pablogs9 commented on #217
Well, IMHO if you want to handle memory carefully you need to generate your own memory management code.

In any case, don't get me wrong, `micro_ros_utilities` will work well in systems with `malloc` (for example you need it for "rules"), enough stack for running recursive functions, and with enough ROM for storing two types of supports.

The point is that micro-ROS need to provide instruction and

[2021-12-17 08:24] gavanderhoorn commented on #217
Please don't misunderstand me, my comment was not criticism, I was just looking for some clarification.

[2021-12-17 08:30] pablogs9 commented on #217
I know I know @gavanderhoorn, we always really appreciate your comments :)

[2021-12-17 09:55] #203 closed

[2021-12-17 13:40] ted-miller commented on #217
Ok. I'll give it a try with pre-allocating all the sequences. I guess I was thrown off by [this comment in the header](https://github.com/micro-ROS/rcl/blob/1fac9bf845f32bce311730d3dda1fddbb8b101e6/rcl_action/include/rcl_action/action_server.h#L251-L253).

Thank you for the advice!

[2021-12-17 16:36] ted-miller commented on #217
This resolved my issue in the PC test app. I need to restructure things before I can try on the actual hardware.

Thanks for steering me in the right direction. I appreciate the help.

[2021-12-19 04:19] Rhythvia opened #220 "There are no semicolons!!!"
(I`m japanese student, so please forgive my illegible English.)

Hi,

I`m trying to use micro-ROS with nucleo-f446re board.
When I build the package for STM32CubeIDE, I got these error.

I tried with this file↓
[https://github.com/micro-ROS/micro_ros_stm32cubemx_utils#readme](https://github.com/micro-ROS/micro_ros_stm32cubemx_utils#readme)
[code]

I think this error is caused by this file.(44 line

[2021-12-20 06:54] pablogs9 commented on #220
Solved here: https://github.com/micro-ROS/rmw_microxrcedds/pull/221

[2021-12-20 06:54] #220 closed

[2021-12-28 20:40] ted-miller commented on #217
So... it turns out that I prematurely closed this issue. I did not test thoroughly enough. (I also didn't realize that stderr was not being displayed on the console by default. Whoops.)

I have updated the server code to use the `micro_ros_utilities` to preallocate memory. But, it does not solve the root issue. (It did solve my capacity problem though. So that's good.) `rcl_action_take_goal_reques

[2021-12-29 09:48] Acuadros95 commented on #217
I have replicated this, and found out that `micro_ros_utilities_create_message_memory` is not allocating memory properly for string sequences, so the deserialization of `pending_ros_goal_request.goal.trajectory.joint_names` fails and mess with the alignment.

This needs to be fixed on the `micro_ros_utilities` packet on our side, but as a workaround you can allocate it manually after `micro_ros_ut

[2021-12-29 15:28] ted-miller commented on #217
Thank you for finding the error and the suggested work around. I am now able to receive the trajectory points as expected.

[2022-01-07 13:30] pablogs9 commented on #217
We have prepared this patch: https://github.com/micro-ROS/micro_ros_utilities/pull/18. Could you check that it solves this issue with string sequences?

[2022-01-07 15:34] ted-miller commented on #217
Great. I'll test on Mon or Tues.

[2022-01-11 15:09] ted-miller commented on #217
I did a quick initial test and it worked great.
I'll be hitting it harder with more testing/debug over the next week or two.
Thanks for the great support!

[2022-01-11 15:09] #217 closed

[2022-03-04 11:26] ZhenshengLee commented on #17
@iluetkeb

It's in

https://github.com/eProsima/Micro-XRCE-DDS-Client/blob/243b16b659f1b46e6678db21c30f246910a3b697/CMakeLists.txt#L90

[2022-03-07 08:59] iluetkeb commented on #17
This issue is quite old -- I guess we can close it.

[2022-03-07 08:59] #17 closed

[2022-03-25 15:13] ted-miller opened #241 "Reconnecting to agent after multiple disconnects"
## Issue template

Industrial robots are generally left on (without rebooting) for very long periods of time. So, I need to be able to detect if the Agent application is terminated on the PC. In that scenario, I shut down the node on the robot and wait for the Agent to come back online. When it does, I'll restart the node with a new connection. (I'm using your ping function to detect the status of

[2022-03-28 06:02] pablogs9 commented on #241
I've fixed the example: https://github.com/micro-ROS/micro-ROS-demos/pull/58

Please let us know if  `rcl_timer_fini(&timer);` solves this.

[2022-03-30 06:09] pablogs9 commented on #241
@Acuadros95 can you take a look at that?

[2022-03-30 07:54] Acuadros95 commented on #241
This should not happen, did `rcl_timer_fini(&timer);` solve this?
Please set `RMW_UXRCE_ALLOW_DYNAMIC_ALLOCATIONS=OFF` again and try to replicate this error, as the fini methods should release all the memory blocks.

Exactly, `rcl_publisher_fini` and `rcl_node_fini` return `RCL_RET_ERROR` after the destroy operation on the agent timeouts. We should modify this and return `RCL_RET_TIMEOUT` and use

[2022-03-30 14:59] #241 closed

[2022-04-22 15:08] ted-miller opened #247 "Size of memory pool item"
## Issue template

- Hardware description: Motoman robot and Ubuntu PC
- Version or commit hash: 51942f621a03a60f932f788a9c262e119dec3f99

#### Steps to reproduce the issue
1. Start agent

2. Start server:  (Modified rclc_examples) [rclc_examples(server).zip](https://github.com/micro-ROS/rmw_microxrcedds/files/8541927/rclc_examples.server.zip)
[code]

3. Start client [action_tester(client).zip](ht

[2022-04-25 05:40] pablogs9 commented on #247
[Buffer in RWM](https://github.com/micro-ROS/rmw_microxrcedds/blob/fa98772887259cded1080a586ddd4b82a3228de2/rmw_microxrcedds_c/src/rmw_microros_internal/types.h#L231) has the size determined by MTU and stream history, [check here](https://github.com/micro-ROS/rmw_microxrcedds/blob/fa98772887259cded1080a586ddd4b82a3228de2/rmw_microxrcedds_c/src/config.h.in#L50).

So, if you need to receive bigger m

[2022-04-25 06:36] gavanderhoorn commented on #247
@pablogs9: in this particular case MTU is set to `2048`. The maximum sizes we seem to be able to receive are around the 1kB mark.

If I understand you correctly, we'd have to significantly increase MTU size to receive long(er) `JointTrajectoryAction` goals?

[2022-04-25 06:38] pablogs9 commented on #247
The received data should fit in the buffers, so yes, if you need to receive longer `JointTrajectoryAction` goals you will need to increase the buffer size in order to be able to receive the data.

[2022-04-25 06:44] gavanderhoorn commented on #247
Just for my understanding: the `U` in `MTU` here then essentially refers to a *message* at the application level (ie: a ROS/DDS/XRCE-DDS message), and is not directly related to the MTU used by the transport(s)?

Would you be able to link to comments/documentation where we can learn about the relation between the different buffers, their sizes and the effects on data readers/writers?

[2022-04-25 07:11] pablogs9 commented on #247
You can find some information [here](https://micro-xrce-dds.docs.eprosima.com/en/latest/optimization.html?highlight=mtu#stream-buffers) and [here](https://micro.ros.org/docs/tutorials/advanced/microxrcedds_rmw_configuration/)

As you said, MTU is the maximum transfer unit in bytes that will be used by the client and the agent during the XRCE session. Also, the client library defines the stream his

[2022-04-25 08:15] pablogs9 commented on #247
That's it.

Depends on the number of joints

[2022-04-25 09:58] pablogs9 commented on #247
Indeed, best-effort do not support fragmentation and the maximum size of the payload will be MTU less overhead.

That's correct.

That's correct.

[`RMW_UXRCE_STREAM_HISTORY`](https://github.com/micro-ROS/rmw_microxrcedds/blob/fa98772887259cded1080a586ddd4b82a3228de2/rmw_microxrcedds_c/CMakeLists.txt#L87-L91) is the XRCE layer history, the slots handled by the middleware layer.

[RMW_UXRCE_MAX_HIS

[2022-04-25 11:00] gavanderhoorn commented on #247
It took me some time to figure this out. Perhaps the description under *Stream size* could be changed a bit to make it clearer?

I haven't checked the XRCE-DDS standard docs: is fragmentation & reassembly described in terms referring to a "history" there, or is it RMW Micro-XRCE-DDS specific terminology? For some reason I assumed "history" to mean "message history", not "fragments" (but at some le

[2022-04-26 06:16] pablogs9 commented on #247
I'll take look.

The history here is a XRCE Stream history, this is that stores XRCE messages, that can contain Fragments. Please, refer to OMG XRCE standard.

Yes

I'm going to modify it: https://github.com/micro-ROS/micro-ROS.github.io/pull/369

No, there aren't.

It is named XRCE stream in the OMG XRCE standard because it is a stream of XRCE messages between the client and the agent.

[2022-04-26 20:43] ted-miller commented on #247
Let us know if this works

Sorry for the delay in replying. My first test of increasing these values was not successful. However, I got pulled into other issues before I could debug any further. I will be back on this later during the week.

[2022-04-28 19:21] ted-miller commented on #247
So, if you need to receive bigger messages just increase [MTU at the middleware layer](https://github.com/eProsima/Micro-XRCE-DDS-Client/blob/2195d43fff3052e3e426b8e678c682e5ffcc1cb5/CMakeLists.txt#L60).
 Let us know if this works.

This did not solve the problem that we're experiencing. But, I have confirmed that the problem is not due to the size of this buffer. So, I am closing this issue while

[2022-04-29 19:22] ted-miller commented on #247
Continued at: https://github.com/micro-ROS/rosidl_typesupport_microxrcedds/issues/48

[2022-05-17 19:43] gavanderhoorn opened #253 "Should generate_service_topics(..) return an error if len(topic_name) > RMW_UXRCE_TOPIC_NAME_MAX_LENGTH?"
As per subject really.

I just ran into a situation where service 'topic' names were being truncated to 60 chars, which did not result in any warnings or errors, other than on the Agent side which complained with:

[code]

I notice `generate_service_topics(..)` does pass `buffer_size` to `snprintf(..)`:

https://github.com/micro-ROS/rmw_microxrcedds/blob/b0f9724a2c638cf35b4b1c6003a58b6ddd1e7785/rm

[2022-05-17 19:44] gavanderhoorn commented on #253
For context: I ran into this with a node name of `my_node`, and a namespace set to `my_namespace`. An action server called `follow_joint_trajectory` will then have a fully-qualified name of `/my_namespace/follow_joint_trajectory`, which is already 37 chars long.

This resulted in the hidden services getting their names truncated.

This is not obvious, as those services are not (directly) created b

[2022-05-17 19:47] gavanderhoorn commented on #253
Does `generate_topic_name(..)` already do this:

https://github.com/micro-ROS/rmw_microxrcedds/blob/b0f9724a2c638cf35b4b1c6003a58b6ddd1e7785/rmw_microxrcedds_c/src/utils.c#L319-L334

?

[2022-05-18 07:38] pablogs9 commented on #253
Hi @gavanderhoorn, good catch.

Let us know if https://github.com/micro-ROS/rmw_microxrcedds/pull/254 solves this.
Feel free to approve the PR if you are ok with it.

[2022-05-20 07:46] gavanderhoorn opened #258 "Maximum size of action server goal (guestimate)?"
(this is more a Q&A than an actual issue, but Discussions are not enabled, so my apologies for posting it as an issue)

Would you happen to know, off the top of your head, what the maximum size would be for an action goal to still make it to a Client, via an Agent? I'm specifically referring to an action goal here, but as that's transmitted via services, that'd also be OK I believe.

This is relat

[2022-05-20 11:31] pablogs9 commented on #258
Some details about DDS-XRCE.

DATA sub-messages are exchanged between the client and the agent in order to transmit DDS payloads from the client to the agent (in publishers, requesters, and repliers) or from the agent to the client (when dealing with subscriptions, requesters, and repliers).

This DDS-XRCE DATA sub-message has a `lenght` field in its subheader of 16 bits, that means that the maxim

[2022-05-20 15:20] gavanderhoorn commented on #258
Thanks for the extensive info @pablogs9.

I'd understood max payload is 64K, also based on our use of UDPv4 in the client.

But the intricacies of how MTU and the other variables interact were beyond my current understanding.

Thanks again

will you open an issue for this, or would you want me to open one?

This may be something we could change (ie: enable dynamic memory). But for something like a

[2022-05-23 05:40] pablogs9 commented on #258
Feel free to open an issue.

This solution may be possible, but currently, there are no plans for implementing any solution in that sense.

[2022-05-24 09:09] #253 closed

[2022-05-24 09:10] gavanderhoorn commented on #258
which tracker should I open this issue on? The Micro-ROS-Agent repository?

I believe you have a better insight into what the actual issue is.

I'd be willing to open one, but my summary of the issue would probably be "messages larger than a certain size seem to 'disappear'".

[2022-05-24 09:11] pablogs9 commented on #258
That's enough

micro-ROS Agent is a good place.

Thanks!

[2022-05-24 09:29] gavanderhoorn commented on #258
I've opened https://github.com/micro-ROS/micro-ROS-Agent/issues/143.

[2022-05-24 10:25] pablogs9 commented on #258
Can we close this in favor of the new one @gavanderhoorn ?

[2022-05-24 10:49] gavanderhoorn commented on #258
Yep.

thanks for the guidance.

[2022-05-24 10:49] #258 closed

[2022-06-02 12:20] v-lopez opened #259 "rmw_uros_ping_agent fails after update on Teensy 4.0"
**Describe the bug**
No matter which values I have on the `rmw_uros_ping_agent` timeout and retries, they always fail. But I can publish messages normally.

**To Reproduce**
Steps to reproduce the behaviour:
1.  Update Arduino library using  `docker run -it --rm -v $(pwd):/project --env MICROROS_LIBRARY_FOLDER=extras microros/micro_ros_static_library_builder:galactic teensy4`
2. Use https://github

[2022-06-02 12:28] pablogs9 commented on #259
Which version of the micro-ROS Agent are you using?

[2022-06-02 13:03] v-lopez commented on #259
I am using master of https://github.com/eProsima/Micro-XRCE-DDS-Agent
And 2.0.1 of micro-ROS-Agent (https://github.com/micro-ROS/micro-ROS-Agent/commit/52b35ef2eb9ea24bced342f6fc27f881ae5600cb)
I can update to 2.0.2, but the changes seem unrelated to this.

[2022-06-02 13:32] pablogs9 commented on #259
Why are you handling [Micro-XRCE-DDS-Agent](https://github.com/eProsima/Micro-XRCE-DDS-Agent) manually? It should be downloaded automatically by the micro-ROS Agent build process.

[2022-06-02 14:34] v-lopez commented on #259
Ok I believe my problem was due to using `master` of https://github.com/eProsima/Micro-XRCE-DDS-Agent instead of `ros2`.

There's  2/3 commit difference but it's interfering with the ping.

I know what I am doing is outside of the standard use, but those branch names can be confusing.

[2022-06-03 05:43] pablogs9 commented on #259
`ros2` is a branch that follows `develop` in Micro XRCE-DDS Agent. There are modifications in ping behavior in the latest versions of `develop` and they have not been released to `master` yet. Let us know if using `ros2` branch works as expected.

[2022-06-03 07:53] v-lopez commented on #259
Yes, as soon as I switched to `ros2` I stopped having the reconnection problem, both on the example code I linked above as well as on my custom code.

[2022-06-03 07:55] pablogs9 commented on #259
Nice, closing. thanks for the report

[2022-06-03 07:55] #259 closed

[2022-07-25 03:49] chrisjaxy opened #264 "microros reconnection failed."
**Describe the bug**
microros reconnection failed.

**To Reproduce**
Steps to reproduce the behaviour:
I found that when the microros connection fails or times out, it cannot be reconnected again. I tested pub, sub, client, services and added the log.
<img width="707" alt="client" src="https://user-images.githubusercontent.com/95396234/180693105-7cd6775f-a269-461a-be03-3aa7e2e4312c.png">
<img widt

[2022-07-26 05:28] pablogs9 commented on #264
Are you destroying your entities when the disconnect is detected? Could you share your micro-ROS app code?

Check this: https://github.com/micro-ROS/micro_ros_arduino/blob/39107e4c81affd714db98d7b63655b843905b99a/examples/micro-ros_reconnection_example/micro-ros_reconnection_example.ino#L88-L92

[2022-07-26 06:15] chrisjaxy commented on #264
When the connection fails, I destroy the entities.I refer to the previous program on  [https://github.com/micro-ROS/micro_ros_setup/issues/434](https://github.com/micro-ROS/micro_ros_setup/issues/434)

[code]

[2022-07-26 06:35] pablogs9 commented on #264
Make sure that you are destroying entities correctly because this `get_memory()` failure is related to this entity's lack of destruction.

Here you have an approach using a state machine: https://github.com/micro-ROS/micro_ros_arduino/blob/a7fd2280324e9344180512b41d0cfab1cc072bff/examples/micro-ros_reconnection_example/micro-ros_reconnection_example.ino#L104-L127

[2022-07-26 06:51] chrisjaxy commented on #264
I'm sure that I am destroying entities correctly. When I have destroyed entities, I check the size of xAvailableHeapSpaceInBytes in freertos, it's exactly the same as before connection. You can try to reproduce this problem.  The method of reproduction is to restart the microros agent during the process of `rclc_service_init_best_effort`, `rclc_client_init_best_effort`, `rclc_publisher_init_best_e

[2022-07-26 07:44] pablogs9 commented on #264
We will take a look

[2022-07-28 13:08] chrisjaxy commented on #264
If you succeed or fail to reproduce this problem, please let me know.

[2022-08-02 05:47] pablogs9 commented on #264
I have not been able to replicate this. I see that you show in your original message a bunch of images with changes in the rmw_microxrcedds. Is it possible to create a PR with those changes so we can analyze them?

[2022-08-02 08:45] chrisjaxy commented on #264
This is the modification we tried. [https://github.com/micro-ROS/rmw_microxrcedds/pull/265](url). We created a number of pub, sub, clent and services, and then restarted the agent to reproduce the connection process. The connection process is fast, making it difficult to restart the agent just in the middle of the connection process. I think it may be easy to reproduce if the baud rate of the comm

[2022-08-25 10:20] NagaHimanshu opened #266 "I wanted to use MicroROS without any custom transport or RMW. Is it possible to bypass the RMW and use only the publish-subscribe?"

[2022-08-25 10:41] pablogs9 commented on #266
Please elaborate on your issue, requirements and goals.

[2022-08-25 10:41] #266 closed

[2022-08-25 11:04] NagaHimanshu commented on #266
I wanted to develop a basic publish-subscribe model using MicroROS without any UART/TCP/UDP. I'd like to open two threads using FreeRTOS, one thread for publish and another thread for subscribe. For this I created a dummy transport which just fills up memory. I attached a piece of code below. So, is it possible to having this kind of scenario?

[New Text Document.txt](https://github.com/micro-ROS/

[2022-08-25 11:19] pablogs9 commented on #266
You can explore the shared memory in Micro XRCE-DDS Client: https://github.com/eProsima/Micro-XRCE-DDS-Client/blob/6f4edd25c0984fd30bf3bf84e2d1d33af03f24a1/CMakeLists.txt#L68

[2022-08-25 12:26] NagaHimanshu commented on #266
Thank you so much for the suggestion. It is working as per my requirement. Thanks again.

[2022-10-28 13:38] gavanderhoorn opened #269 "Downsides to a 'static' client key?"
Not so much an issue, as a question.

Client keys can either be generated using a random generator by the RMW itself, or configured by the application. An application could still use a random key, or a static one. The static one could be based on some piece of information that identifies the hw platform fi, or using some other algorithm.

I'm wondering if there are any known downsides to using a (